/* EmailInput.css */
.email-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.email-input-container input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #000000;
    border-radius: 5px;
    margin-right: 10px;
    width: 250px;  /* Adjust width according to your design */
}

.email-input-container button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.email-input-container button:hover {
    background-color: #333333;
}
